@model int

<div class="row">
    <div class="pr-1 pb-1">
        <a class="btn btn-primary" style="width:90px" 
           asp-action="Upsert" asp-route-id="@Model"><i class="fas fa-pen-fancy"></i><br /> Edit</a>
    </div>
    <div>
        <button class="btn btn-danger" onclick="Delete(@Model)" style="width:90px"><i class="fas fa-trash-alt"></i> Delete</button>
    </div>
</div>